@model RentACar.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center">Details</h1>

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table">
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Phone) </th>
                        <th> @Html.DisplayNameFor(model => model.Email)</th>
                    </tr>
                    <tr>
                        <td> @Html.DisplayFor(model => model.Phone)</td> 
                        <td> @Html.DisplayFor(model => model.Email) </td>   
                    </tr>

                </table>
                <div style="text-align:right">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>