@model RentACar.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center">Details</h1>

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table">
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Status) </th>
                        <th> @Html.DisplayNameFor(model => model.Plate)</th>
                        <th> @Html.DisplayNameFor(model => model.Dailyprice)</th>
                        <th> @Html.DisplayNameFor(model => model.Brand)</th>
                        <th> @Html.DisplayNameFor(model => model.Color)</th>
                        <th> @Html.DisplayNameFor(model => model.Model)</th>

                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Status) </td>
                        <td>@Html.DisplayFor(model => model.Plate) </td>
                        <td>@Html.DisplayFor(model => model.Dailyprice) </td>
                        <td>@Html.DisplayFor(model => model.Brand.Id) </td>
                        <td>@Html.DisplayFor(model => model.Color.Id) </td>
                        <td>@Html.DisplayFor(model => model.Model.Id) </td>
                    </tr>

                </table>
                <div style="text-align:right">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
    </div>
